{% extends 'base.html' %}


{% block content %}

<!-- hero area start -->
{% include 'components/home/hero_slider.html' %}
<!-- hero area end -->

<!-- service area start -->
{% include 'components/home/services.html' %}
<!-- service area end -->

<!-- about area start -->
{% include 'components/home/about_us.html' %}
<!-- about area end -->

<!-- pricing area start -->
{% include 'components/home/pricing.html' %}
<!-- pricing area end -->

<!-- chose area end -->
{% include 'components/home/why_us.html' %}
<!-- chose area end -->


<!-- features start -->
{% include 'components/home/features.html' %}
<!-- features area end -->

<!-- testimonial area start -->
{% include 'components/home/testimonials.html' %}
<!-- testimonial area end -->

<!-- brand area start -->
{% include 'components/home/brands.html' %}
<!-- brand area end -->

<!-- product area start -->
{% include 'components/home/products.html' %}
<!-- product area end -->

<!-- faq area start -->
{% include 'components/home/faqs.html' %}
<!-- faq area end -->

{% endblock content %}