{% load static %}
<div class="tp-about-2__area tp-about-2__bg pt-120 pb-130 z-index" data-background="assets/img/about/about-bg-2-1.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".3s">
                <div class="tp-about-2__left-wrap p-relative">
                    <div class="tp-about-2__bg-shape">
                        <img src="{% static 'assets/img/about/ab-left-6.jpg' %}" alt="">
                    </div>
                    <div class="tp-about-2__shape-1">
                        <img src="{% static 'assets/img/about/ab-left-5.jpg' %}" alt="">
                    </div>
                    <div class="tp-about-2__shape-2">
                        <img src="{% static 'assets/img/about/ab-left-3.jpg' %}" alt="">
                    </div>
                    <div class="tp-about-2__left-author-info d-none d-lg-block d-flex align-items-center">
                        <img class="mr-25" src="{% static 'assets/img/about/ab-left-4.jpg' %}" alt="">
                        <span><em>Ceo-</em> Mehedii hassan</span>
                    </div>
                    <div class="tp-about-2__main-img">
                        <img src="{% static 'assets/img/about/ab-left-1.jpg' %}" alt="">
                    </div>
                    <div class="tp-about-2__sub-img-1">
                        <img src="{% static 'assets/img/about/ab-left-2.jpg' %}" alt="">
                        <a class="pulse-btn popup-video" href="https://www.youtube.com/watch?v=yW2io0TwDMQ"><i
                                class="fa-solid fa-play"></i></a>
                    </div>
                    <div class="tp-about-2__exprience d-none d-sm-block">
                        <span class="child-one purecounter" data-purecounter-duration=".5"
                            data-purecounter-end="13">13</span>
                        <span class="child-two">Years of Experince</span>
                        <span class="child-three"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".5s">
                <div class="tp-about__right-wrapper">
                    <div class="tp-about__title-box">
                        <div class="tp-section-subtitle-box">
                            <span class="tp-section-subtitle section-subtitle-border">about us</span>
                        </div>
                        <div class="tp-about-2__section-wrap p-relative">
                            <h3 class="tp-section-title">
                                Best <span>Internet</span> Providing Agency For People
                            </h3>
                            <div class="tp-about-2__title-shape d-none d-md-block">
                                <span>
                                    <svg width="171" height="6" viewBox="0 0 171 6" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.574733 5.06768C56.6847 3.06405 112.472 2.7456 168.542 5.99651C170.502 6.11593 170.476 3.1304 168.542 2.98444C112.835 -1.1555 56.1611 -1.27492 0.574733 4.44403C0.171934 4.48384 0.158507 5.08095 0.574733 5.06768Z"
                                            fill="#FFB302" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-about__text pb-5">
                        <p>Business is the activity of making one's living or making money by produ
                            cing or buying and selling products</p>
                    </div>
                    <div class="tp-about-2__feature-wrap d-flex align-items-center">
                        <div class="tp-about-2__icon d-none d-sm-block">
                            <img src="{% static 'assets/img/about/ab-icon-2-1.png' %}" alt="">
                        </div>
                        <div class="tp-about-2__feature-list">
                            <ul>
                                <li>Financial Growth System</li>
                                <li>Customer Oriented Program Daily</li>
                                <li>Dedicated Team member</li>
                                <li>Product ux Design & Development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tp-about-2__btn-box d-flex align-items-center">
                        <div class="tp-about-2__btn mr-25">
                            <a class="tp-btn-border-lg" href="about.html">About Our Agency</a>
                        </div>
                        <div class="tp-about-2__author-box d-flex align-items-center">
                            <div class="tp-about-2__avata">
                                <img src="{% static 'assets/img/about/author-2-1.png' %}" alt="">
                            </div>
                            <div class="tp-about-2__info p-relative">
                                <h5>5m+ Customer</h5>
                                <span>
                                    <svg width="91" height="3" viewBox="0 0 91 3" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.972182 2.53384C30.6775 1.53203 60.2122 1.3728 89.8961 2.99826C90.9339 3.05797 90.9197 1.5652 89.8961 1.49222C60.4041 -0.57775 30.4003 -0.637461 0.972182 2.22202C0.758935 2.24192 0.751827 2.54047 0.972182 2.53384Z"
                                            fill="#336EF9" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>