{% load static %}
<div class="tp-brand-2__area grey-bg pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="swiper-container tp-brand-2__active">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-4.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-5.png' %}" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="tp-brand-2__item">
                                <img src="{% static 'assets/img/brand/brand-2-3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>