{% load static %}
<div class="tp-faq-2__area grey-bg pt-90 pb-90 p-relative">
    <div class="tp-faq-2__right-img d-none d-lg-block wow tpfadeRight" data-wow-duration=".9s" data-wow-delay=".3s">
        <img src="{% static 'assets/img/faq/faq-img.png' %}" alt="">
        <div class="tp-faq-2__sub-img">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10 wow tpfadeLeft" data-wow-duration=".9s" data-wow-delay=".3s">
                <div class="tp-faq__title-box">
                    <div class="tp-section-subtitle-box">
                        <span class="tp-section-subtitle section-subtitle-border">ask questions</span>
                    </div>
                    <div class="tp-faq-2__section-wrap p-relative">
                        <h3 class="tp-section-title pb-30">
                            Have To Know <span>Question</span> Open For People
                        </h3>
                        <div class="tp-faq-2__title-shape d-none d-md-block">
                            <span>
                                <svg width="171" height="6" viewBox="0 0 171 6" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.574733 5.06768C56.6847 3.06405 112.472 2.7456 168.542 5.99651C170.502 6.11593 170.476 3.1304 168.542 2.98444C112.835 -1.1555 56.1611 -1.27492 0.574733 4.44403C0.171934 4.48384 0.158507 5.08095 0.574733 5.06768Z"
                                        fill="#FFB302" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="tp-about__text pb-10">
                        <p>Business is the activity of making one's living or making money by produ
                            cing or buying and selling products</p>
                    </div>
                </div>
                <div class="tp-custom-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-items tp-faq-active">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-buttons " type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How Clear Energy for Cleaner World?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The other hand we denounce with righteou indg ation and dislike men
                                    beguiled and demorali ed by the of pleasure of the moment.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-items">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What to Power Is a Smart Power?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The other hand we denounce with righteou indg ation and dislike men
                                    beguiled and demorali ed by the of pleasure of the moment.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-items">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Which to Energy for a Sustainable World?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The other hand we denounce with righteou indg ation and dislike men
                                    beguiled and demorali ed by the of pleasure of the moment.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>