{% load static %}
<div class="tp-product-2__area tp-product-2__mlr pt-120 pb-120">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-product-2__section-box mb-60 text-center">
                    <div class="tp-section-subtitle-box">
                        <span class="tp-section-subtitle section-subtitle-border">featured product</span>
                    </div>
                    <div class="tp-price-2__title-wrap p-relative">
                        <h3 class="tp-section-title">Product <span>Collection</span></h3>
                        <div class="tp-price-2__title-shape d-none d-md-block">
                            <span>
                                <svg width="207" height="5" viewBox="0 0 207 5" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M205.821 4.22307C137.829 2.55338 70.2274 2.288 2.28409 4.99709C-0.0913239 5.09661 -0.0587769 2.60867 2.28409 2.48703C69.7881 -0.962917 138.464 -1.06243 205.821 3.70336C206.309 3.73653 206.326 4.23412 205.821 4.22307Z"
                                        fill="#FFB302" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
            <div class="col-xl wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                <div class="tp-product-2__item">
                    <div class="tp-product-2__img fix text-center">
                        <img src="{% static 'assets/img/product/product-1.png' %}" alt="">
                    </div>
                    <div class="tp-product-2__content">
                        <div class="tp-product-2__ratting">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h4 class="tp-product-2__title-sm"><a href="shop-details.html">Amazon Cloud Cam Security
                                Camera</a></h4>
                        <div class="tp-product-2__price">
                            <span class="mr-20">$239.52</span>
                            <span><del>$239.52</del></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                <div class="tp-product-2__item">
                    <div class="tp-product-2__img fix text-center">
                        <img src="{% static 'assets/img/product/product-2.png' %}" alt="">
                    </div>
                    <div class="tp-product-2__content">
                        <div class="tp-product-2__ratting">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h4 class="tp-product-2__title-sm"><a href="shop-details.html">Infrared-thermometers fever
                                health</a></h4>
                        <div class="tp-product-2__price">
                            <span class="mr-20">$199.52</span>
                            <span><del>$299.52</del></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                <div class="tp-product-2__item">
                    <div class="tp-product-2__img fix text-center">
                        <img src="{% static 'assets/img/product/product-3.png' %}" alt="">
                    </div>
                    <div class="tp-product-2__content">
                        <div class="tp-product-2__ratting">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h4 class="tp-product-2__title-sm"><a href="shop-details.html">Ultrasonography-ultrasound
                                doppler</a></h4>
                        <div class="tp-product-2__price">
                            <span class="mr-20">$149.52</span>
                            <span><del>$269.52</del></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".9s">
                <div class="tp-product-2__item">
                    <div class="tp-product-2__img fix text-center">
                        <img src="{% static 'assets/img/product/product-4.png' %}" alt="">
                    </div>
                    <div class="tp-product-2__content">
                        <div class="tp-product-2__ratting">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h4 class="tp-product-2__title-sm"><a href="shop-details.html">Amazon Cloud Cam Security
                                Camera</a></h4>
                        <div class="tp-product-2__price">
                            <span class="mr-20">$339.52</span>
                            <span><del>$449.52</del></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl wow tpfadeUp" data-wow-duration=".9s" data-wow-delay="1s">
                <div class="tp-product-2__item">
                    <div class="tp-product-2__img fix text-center">
                        <img src="{% static 'assets/img/product/product-5.png' %}" alt="">
                    </div>
                    <div class="tp-product-2__content">
                        <div class="tp-product-2__ratting">
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h4 class="tp-product-2__title-sm"><a href="shop-details.html">Amazon Cloud Cam Security
                                Camera</a></h4>
                        <div class="tp-product-2__price">
                            <span class="mr-20">$589.52</span>
                            <span><del>$999.52</del></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>