{% load static %}
<div class="tp-service-2__area p-relative pt-130 pb-100">
    <div class="tp-service-2__grey-bg-shape grey-bg" data-background="{% static 'assets/img/service/grey-bg.png' %}"></div>
    <div class="tp-service-2__shape-img">
        <img src="{% static 'assets/img/service/sv-2-4.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-service-2__title-box text-center mb-50">
                    <div class="tp-section-subtitle-box">
                        <span class="tp-section-subtitle section-subtitle-border">Internet service</span>
                    </div>
                    <div class="tp-service-2__title-wrap p-relative">
                        <h3 class="tp-section-title">Internet Service We Offer</h3>
                        <div class="tp-service-2__title-shape d-none d-md-block">
                            <span>
                                <svg width="163" height="5" viewBox="0 0 163 5" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M162.595 4.22307C108.986 2.55338 55.6855 2.288 2.11526 4.99709C0.242355 5.09661 0.268005 2.60867 2.11526 2.48703C55.3392 -0.962917 109.487 -1.06243 162.595 3.70336C162.98 3.73653 162.993 4.23412 162.595 4.22307Z"
                                        fill="#FFB302" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                <div class="tp-service-2__item p-relative text-center">
                    <div class="tp-service-2__tag">
                        <span>F</span>
                    </div>
                    <div class="tp-service-2__circle-shape">
                        <span></span>
                    </div>
                    <div class="tp-service-2__icon">
                        <img src="{% static 'assets/img/service/sv2-1.png' %}" alt="">
                    </div>
                    <div class="tp-service-2__content">
                        <h4 class="tp-service-2__title"><a href="service-details.html">Fiber Broadband</a></h4>
                        <p>With over 1 million+ homes for sale available
                            on the website, Trulia can match you with
                            a house you will want.</p>
                    </div>
                    <div class="tp-service-2__link">
                        <a href="service-details.html">
                            See Details
                            <span><svg width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M26.9592 6.53033C27.2521 6.23744 27.2521 5.76256 26.9592 5.46967L22.1862 0.6967C21.8933 0.403807 21.4184 0.403807 21.1255 0.6967C20.8326 0.989594 20.8326 1.46447 21.1255 1.75736L25.3682 6L21.1255 10.2426C20.8326 10.5355 20.8326 11.0104 21.1255 11.3033C21.4184 11.5962 21.8933 11.5962 22.1862 11.3033L26.9592 6.53033ZM0.245117 6.75L26.4288 6.75L26.4288 5.25L0.245117 5.25L0.245117 6.75Z"
                                        fill="#336EF9" />
                                </svg></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                <div class="tp-service-2__item active p-relative text-center">
                    <div class="tp-service-2__tag z-index">
                        <span>T</span>
                    </div>
                    <div class="tp-service-2__content-wrapper z-index">
                        <div class="tp-service-2__circle-shape">
                            <span></span>
                        </div>
                        <div class="tp-service-2__icon">
                            <img src="{% static 'assets/img/service/sv2-2.png' %}" alt="">
                        </div>
                        <div class="tp-service-2__content">
                            <h4 class="tp-service-2__title"><a href="service-details.html">Tv & Streaming</a></h4>
                            <p>With over 1 million+ homes for sale available
                                on the website, Trulia can match you with
                                a house you will want.</p>
                        </div>
                        <div class="tp-service-2__link">
                            <a href="service-details.html">
                                See Details
                                <span><svg width="28" height="12" viewBox="0 0 28 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M26.9592 6.53033C27.2521 6.23744 27.2521 5.76256 26.9592 5.46967L22.1862 0.6967C21.8933 0.403807 21.4184 0.403807 21.1255 0.6967C20.8326 0.989594 20.8326 1.46447 21.1255 1.75736L25.3682 6L21.1255 10.2426C20.8326 10.5355 20.8326 11.0104 21.1255 11.3033C21.4184 11.5962 21.8933 11.5962 22.1862 11.3033L26.9592 6.53033ZM0.245117 6.75L26.4288 6.75L26.4288 5.25L0.245117 5.25L0.245117 6.75Z"
                                            fill="currentcolor" />
                                    </svg></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                <div class="tp-service-2__item p-relative text-center">
                    <div class="tp-service-2__tag">
                        <span>M</span>
                    </div>
                    <div class="tp-service-2__circle-shape">
                        <span></span>
                    </div>
                    <div class="tp-service-2__icon">
                        <img src="{% static 'assets/img/service/sv2-3.png' %}" alt="">
                    </div>
                    <div class="tp-service-2__content">
                        <h4 class="tp-service-2__title"><a href="service-details.html">All For Mobile</a></h4>
                        <p>With over 1 million+ homes for sale available
                            on the website, Trulia can match you with
                            a house you will want.</p>
                    </div>
                    <div class="tp-service-2__link">
                        <a href="service-details.html">
                            See Details
                            <span><svg width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M26.9592 6.53033C27.2521 6.23744 27.2521 5.76256 26.9592 5.46967L22.1862 0.6967C21.8933 0.403807 21.4184 0.403807 21.1255 0.6967C20.8326 0.989594 20.8326 1.46447 21.1255 1.75736L25.3682 6L21.1255 10.2426C20.8326 10.5355 20.8326 11.0104 21.1255 11.3033C21.4184 11.5962 21.8933 11.5962 22.1862 11.3033L26.9592 6.53033ZM0.245117 6.75L26.4288 6.75L26.4288 5.25L0.245117 5.25L0.245117 6.75Z"
                                        fill="#336EF9" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>