{% load static %}
<div class="tp-testimonial-2__area grey-bg z-index pb-110 p-relative">
    <div class="tp-testimonial-2__shape-2 d-none d-xxl-block">
        <img src="{% static 'assets/img/testimonial/avata-2-2.png' %}" alt="">
    </div>
    <div class="tp-testimonial-2__shape-3 d-none d-xxl-block">
        <img src="{% static 'assets/img/testimonial/avata-2-3.png' %}" alt="">
    </div>
    <div class="tp-testimonial-2__shape-4">
        <img src="{% static 'assets/img/testimonial/yellow-circle.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-testimonial-2__wrapper p-relative text-center">
                    <div class="tp-testimonial-2__shape-1 d-none d-md-block">
                        <img src="{% static 'assets/img/testimonial/quote-2.png' %}" alt="">
                    </div>
                    <div class="swiper-container tp-testimonial-2__active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2__item">
                                    <div class="tp-testimonial-2__avata">
                                        <img src="{% static 'assets/img/testimonial/avta-2-1.png' %}" alt="">
                                    </div>
                                    <div class="tp-testimonial-2__author-info">
                                        <h4>Mathias Herasen</h4>
                                        <span>Founder of <em>GamerPay</em></span>
                                    </div>
                                    <div class="tp-testimonial-2__text">
                                        <p>
                                            “ The other hand we denounce with righteou indg ation and dislike
                                            men who are so beguiled and demorali ed by the of pleasure of the
                                            moment.Dislike men who are so beguiled and demoraliz worlds ed
                                            by the charms of pleasure “
                                        </p>
                                    </div>
                                    <div class="tp-testimonial-2__ratting">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2__item">
                                    <div class="tp-testimonial-2__avata">
                                        <img src="{% static 'assets/img/testimonial/avta-2-1.png' %}" alt="">
                                    </div>
                                    <div class="tp-testimonial-2__author-info">
                                        <h4>Mathias Herasen</h4>
                                        <span>Founder of <em>GamerPay</em></span>
                                    </div>
                                    <div class="tp-testimonial-2__text">
                                        <p>
                                            “ The other hand we denounce with righteou indg ation and dislike
                                            men who are so beguiled and demorali ed by the of pleasure of the
                                            moment.Dislike men who are so beguiled and demoraliz worlds ed
                                            by the charms of pleasure “
                                        </p>
                                    </div>
                                    <div class="tp-testimonial-2__ratting">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2__item">
                                    <div class="tp-testimonial-2__avata">
                                        <img src="{% static 'assets/img/testimonial/avta-2-1.png' %}" alt="">
                                    </div>
                                    <div class="tp-testimonial-2__author-info">
                                        <h4>Mathias Herasen</h4>
                                        <span>Founder of <em>GamerPay</em></span>
                                    </div>
                                    <div class="tp-testimonial-2__text">
                                        <p>
                                            “ The other hand we denounce with righteou indg ation and dislike
                                            men who are so beguiled and demorali ed by the of pleasure of the
                                            moment.Dislike men who are so beguiled and demoraliz worlds ed
                                            by the charms of pleasure “
                                        </p>
                                    </div>
                                    <div class="tp-testimonial-2__ratting">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-testimonial-2__arrow d-flex align-items-center justify-content-center">
                    <button class="test-next"><i class="fa-regular fa-angle-left"></i></button>
                    <button class="test-prev"><i class="fa-regular fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>