{% load static %}
<div class="tp-choose-2__area tp-choose-2__customize p-relative black-bg-4 pt-125 pb-65">
    <div class="tp-choose-2__bottom-shape d-none d-xl-block">
        <img src="{% static 'assets/img/choose/shape-3.png' %}" alt="">
    </div>
    <div class="tp-choose-2__bg-inner-content z-index">
        <span>Test our TV and Internet just for <em>1$</em> per month</span>
        <div class="tp-choose-2__mpbs-icon d-none d-md-block">
            <img src="{% static 'assets/img/choose/offer-box-2.png' %}" alt="">
        </div>
    </div>
    <div class="tp-choose-2__bg">
        <img src="{% static 'assets/img/choose/choose-bg-2-1.jpg' %}" alt="">
    </div>
    <div class=" container">
        <div class="row g-0">
            <div class="offset-xl-6 col-xl-6 col-lg-12">
                <div class="tp-choose-2__right-wrapper">
                    <div class="tp-choose-2__section-title-box">
                        <div class="tp-about__title-box">
                            <div class="tp-section-subtitle-box">
                                <span class="tp-section-subtitle section-subtitle-border">why choose us</span>
                            </div>
                            <h3 class="tp-section-title">Great reasons make you choose us</h3>
                        </div>
                        <div class="tp-about__text">
                            <p>Business is the activity of making one's living or making money by <br> produ
                                cing or buying and selling products</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="tp-choose-2__content-item mb-40 d-flex align-items-start">
                                <div class="tp-choose-2__icon">
                                    <img src="{% static 'assets/img/choose/choose-1.png' %}" alt="">
                                </div>
                                <div class="tp-choose-2__content">
                                    <h4 class="tp-choose-2__title-sm">Guaranteed Uptime</h4>
                                    <p>Never at water me might. <br>
                                        hunted unable merely by</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="tp-choose-2__content-item mb-40 d-flex align-items-start">
                                <div class="tp-choose-2__icon">
                                    <img src="{% static 'assets/img/choose/choose-2.png' %}" alt="">
                                </div>
                                <div class="tp-choose-2__content">
                                    <h4 class="tp-choose-2__title-sm">IP Telephony</h4>
                                    <p>Never at water me might. <br>
                                        hunted unable merely by</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="tp-choose-2__content-item mb-40 d-flex align-items-start">
                                <div class="tp-choose-2__icon">
                                    <img src="{% static 'assets/img/choose/choose-3.png' %}" alt="">
                                </div>
                                <div class="tp-choose-2__content">
                                    <h4 class="tp-choose-2__title-sm">Higher Upload Speed</h4>
                                    <p>Never at water me might. <br>
                                        hunted unable merely by</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                            <div class="tp-choose-2__content-item mb-40 d-flex align-items-start">
                                <div class="tp-choose-2__icon">
                                    <img src="{% static 'assets/img/choose/choose-4.png' %}" alt="">
                                </div>
                                <div class="tp-choose-2__content">
                                    <h4 class="tp-choose-2__title-sm">Secured Business</h4>
                                    <p>Never at water me might. <br>
                                        hunted unable merely by</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>